# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Build outputs
backend/dist/
frontend/.next/
frontend/out/

# SAM / AWS
.aws-sam/
samconfig.toml

# macOS
.DS_Store
